@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Advent Pro Regular'), local('AdventPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/adventpro/v2/rT9jpj7pBpZV6AmssbZKkxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
