@charset "utf-8";

*{
	padding:0;
	margin:0;
	}
body{
	background-image:url(../img/%E8%83%8C%E6%99%AF.png);
	background-repeat:repeat-x;
	background-position:bottom;
	}
#page{
	max-width:1024px;
	margin:25px auto 0;
	color:#666;
	}
li{
	display:inline-block;
	list-style:none;
	}
a{
	text-decoration:none;
	color:#666;
	}
.gengduo a{
	float:right;
	}
h3{
	float:left;
	color:#010101;
	margin-bottom:15px;
	}
section ul{
	clear:both;
	}
section{
	margin-bottom:40px;
	}
img{
	max-width:100%;}
/*导航栏*/
ul[name="out"] li{
	display:absolute;
}
header .tubiao{
	max-width:14%;
	margin:0 30px 30px 0;
	float:left;
	}
.daohang{
	float:left;
	}
.daohang a:hover{
	color:#999;
	}
.qsearch{
	float:right;
	}
.daohang li{
	clear:both;
	font-size:0.9em;
	width:75px;
	display:inline-block;
	}
.xiala li{
	display:block;
	float:left;
	padding:5px 2px;
	text-align:center;
	width:60px;
	height:12px;
	border:1px dashed #666;
	background-color:#FFF;
	}						
.daohang .xiala li:hover{
	color:#999;
	}
.xiala{
	position:absolute;
	margin:-1000px;
	}
.daohang li:hover .xiala{
	margin:auto;/
	}

#submit{
	float:right;
	width:20px;
	margin:1% 2%;
	}

#qsearch{
	width:100%;
	border-radius:7px;
	display: none;
	float: right;
	}
header>span>img{
	width:100%;
	}
/*图片*/	
.pic{
	display:flex;		
	margin:1% 0;
	}
.pic li,.huodong li,.shenghuo li{
	width:23%;
	margin-right:2%;
	position:relative;
	}
.pic img,.huodong img,.shenghuo img{
	width:100%;
	}
.pic p,.huodong p,.shenghuo p.life22{
	position:absolute;
	bottom:20px;
	left:20px;
	color:#FFF;
	width:90%;
	z-index:2px;
	text-shadow:1px 1px 3px #000000;
	font-weight:bolder;
	font-size:1em;
	}
/*产品*/
.chanpin ul{
	border-bottom:1px solid #eee;
	padding:10px 0;
	}
.chanpin li{
	width:15%;
	font-size:12px;
	background-size:auto 40px;
	background-repeat:no-repeat;
	background-position:8px center;
	height:60px;
	}
.chanpin span{
	padding:0 2px 0 55px;
	display:inline-block;
	line-height:60px;
	}
/*新到商品,销售排行榜*/
.xindao img,.xiaoshou img{
	max-width:90%;
	}
.xindao li,.xiaoshou li{
	font-size:13px;
	max-width:140px;
	margin-right:15px;
	}
/*活动一栏，生活*/
.huodong li,.shenghuo li{
	width:30.5%;
	}
.shenghuo p.life11{
	display:block;
	background-color:#000;
	position:absolute;
	top:20px;
	left:20px;
	color:#FFF;
	width:10%;
	z-index:2px;
	font-size:13px;
	text-align:center;
	}
/*店铺信息*/
.dianpu span{
	margin-top:15px;
	}
.xinxi div{
	clear:both;}
p.gengduo1{
	color:#a9b;
	font-size:12px;
	line-height:30px;
	}
video{
	clear:both;
	margin:5%;
	box-shadow:5px 8px 5px 5px #333333;
	max-width:90%;
	}
/*页脚*/
footer{

	margin:0 auto;
	}
.foot1 img{
	height:25px;
	padding:0 5px ;
	}
.foot1{
	padding:15px 0;
	}
.passport{
	float:right;
	}
.foot2{
	color:#e7e7e7;
	}
footer ul{
	padding:20px 0;
	border-bottom:1px solid #888;
	margin:0;
	}
footer li{
	font-size:14px;
	margin-right:19px;
	}
footer span img{
	max-width:18px;
	margin:30px 10px 30px 0;
	float:left;
	}
footer span p{
	padding:25px 0;
	}
.foot2 span{
	margin-right:0;
	}
.foot2>div{
	float:right;
	margin:30px 156px 0 0;
	}

