*{padding:0px;margin:0px;}
	 .title{width:75%;margin:20px auto;position:relative;}
    .search{width:300px;height:36px;border:1px solid #ccc;position:absolute;right:510px;top:0px;}
    input{width:249px;height:24px;padding:5px 12px;border:none;}
    .title li,.list li{float:left;list-style:none;text-align:center;color:white;}
    .search li{width:16px;height:16px;float:right;margin:-24px 12px;background:url("images/search.png") no-repeat -39px 30%;}
    .search li:hover{background-position:-39px 46%;}
    .title ul{position:absolute;right:130px;top:4px;}
    .title ul li{padding-right:32px;margin-top:5px;color:black;font-size:14px;}
    .denglu{width:50px;height:30px;position:absolute;top:4px;right:60px;background:#169af3;border:1px solid #169af3;border-radius:2px;}
    .title p{color:white;text-align:center;font-size:14px; padding-top:4px;}
    .denglu:hover{background:#0c8ed9;}
    .zhuce{width:50px;height:30px;position:absolute;top:4px;right:0px;border:1px solid #ccc;border-radius:2px;}
    .zhuce p{color:black;}
    .zhuce:hover{border-color:#169af3;}
    .zhuce:hover p{color:#169af3;}
	.list{height:55px;background:#2c323b;position:relative;}
    .one li{padding: 17px 30px;}
    .one li:hover{background:#0c8ed9;}
	.shouye{margin-left:170px;}
	.two{float:right;margin-right: 60px;}
	.two li{width:100px;margin-top:18px;}
	.two li{font-size:13px;background:url("images/sprite.png");}
	.two li:hover,.title li:hover{color:#169af3;}
	.two .first{margin-left:120px;background-position:16px -119px;}
	.two .first:hover{background-position:16px -101px; }
	.two .second{background-position:3px -155px;}
	.two .second:hover{background-position:3px -137px;}
	.two .third{background-position:8px -190px;}
	.two .third:hover{background-position:8px -172px;}
	.two .four{background-position:16px -226px;}
	.two .four:hover{background-position:16px -208px;}
	.two .five{background-position:16px -280px;}
	.two .five:hover{background-position:16px -244px;}
	.page{width:100%;height:490px;background:#292a2b;position:relative;}
	.main{width:840px;height:480px;position:absolute;top:10px;left:19%;}
	 #amore{position:absolute;top:-10px;background:black;color:white;left:235px;display:none;}
	 #amore li{padding:8px 40px;margin:0px;list-style:none}
	 #amore li:hover{background-color:#252b34;}
	.image{float:left;width:262px;}
	.load{width:230px;height:50px;background:url("images/downlaod_bg.png");margin:40px 0 0 16px;}
	.load:hover{background-position:-230px 0px;}
	.sing{width:460px;float:right;}
	.biaoti{width:460px;height:40px}
	h3{float:left;font-size:26px;color:white;font-weight:lighter;}
	.biaoti span{display:block;float:left;width:25px;height:15px;background:url("images/btn.png") 0px -214px;margin:15px 0 0 10px;}
	.biaoti span:hover{background-position:-35px -214px;}
	.sing p{font-size:15px;color:#ccc;line-height:30px;}
	.singer a{text-decoration:none;color:#ccc;line-height:24px;}
	.text{margin-top:20px;width:460px;height:260px;overflow:hidden;position:relative;}
	#did{position:absolute;width:230px;}
	.scroll{position:absolute;top:0px;right:0px;width:8px;height:232px;}
	 #sc{position:absolute;top:0px;right:0px;width:8px;height:74px;background:white;border-radius:8px;opacity:0.2;}
	.bottom,.bkg{width:100%;height:80px;position:absolute;left:0px;bottom:0px;}
     .bkg{background:black;opacity:0.3;}
	.before{width:36px;height:36px;display:block;background:url("images/btn.png") 0 -143px;float:left;margin:20px 0 0 190px;}
	.now{width:60px;height:60px;display:block;background:url("images/btn.png") 0 -60px;float:left;margin:9px 0 0 15px;}
	.next{width:36px;height:36px;display:block;background:url("images/btn.png") -144px -143px;float:left;margin:20px 0 0 15px;}
	.before:hover{background-position:-36px -143px;}
	.next:hover{background-position:-180px -143px}
	.img{float:left;margin:10px 0 0 40px;}
	.pb{width:374px;height:42px;float:left;color:#555555;margin:10px 0 0 25px;}
	.pb p{font-size: 12px;padding:5px 0 18px 5px;}
	.bgleft,.bgright{width:2px;height:3px;display:block;background:url("images/btn.png") -217px -200px;float:left;}
	.bgmiddle{width:370px;height:3px;display:block;background:url("images/middle.png") repeat-x;float:left;position:relative;}
	.bgright{background-position:-237px -200px;}
	#bar{width:0px;height:3px;background:url("images/bar_middle.png") repeat-x;position:absolute;display:block;left:0px;top:0px;}
	#circle{width:12px;height:12px;background:url("images/btn.png") -217px -181px;position:absolute;display:block;left:0px;top:-5px;}
	.tubiao{width:260px;float:left;margin:30px 0 0 60px;}
	#voice,#cycle,.share,.la,.ls{width:16px;height:16px;display:block;background:url("images/btn.png") -64px -195px;float:left;}
	#cycle{background-position:-64px -179px;margin-left:25px;}
    .la{background-position:-240px -32px;margin-left:25px;}
    .share{background-position:-240px 0px;margin-left:25px;}
    .ls{width:60px;height:23px;background-position:0px -120px;margin:-5px 0 0 35px;position:relative;}
    .pp{position:absolute;right:16px;top:2px;color:white;}
    #voice:hover{background-position:-80px -195px;}
    #cycle:hover{background-position:-80px -179px;}
    .la:hover{background-position:-256px -32px;}
    .share:hover{background-position:-256px 0px;}
    .ls:hover{background-position:-61px -120px;}
    .ls:hover .pp{color:#169af3;}
    #ice{width:29px;height:114px;background:url("images/voice.png");position:absolute;bottom:80px;right:165px;display:none;}
    #jce{width:120px;height:115px;position:absolute;bottom:80px;right:80px;background:url("images/style.png");display:none;}
    #jce li{list-style:none;color:white;width:110px;margin:12px 0 0 18px;font-size:14px;}
    #xunhuan,#xunhuan1,#xunhuan2{width:16px;height:16px;display:block;background:url("images/btn.png") -80px -179px;float:left;}
    #xunhuan1{background-position:0px -179px;}
    #xunhuan1:hover{background-position:-16px -179px;}
    #xunhuan2{background-position:-128px -179px;} 
    #xunhuan2:hover{background-position:-144px -179px;} 
	.content{width:100%;height:490px;background:url("images/bg.jpg");opacity:0.4;}
	#sf{width:26px;height:16px;display:block;background:url("images/bkg.png");position:absolute;bottom:80px;right:-230px;opacity:0.3}
	#sfj{width:16px;height:16px;display:block;background:url("images/btn.png") -140px -211px;position:absolute;bottom:78px;right:-225px;}